<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="head.html"></div>

</head>

<body>


<div th:replace="header.html"></div>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="dashboard">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Dashboard Nav -->


        <li class="nav-item" th:if="${user.accountType=='1'}">
            <a class="nav-link collapsed" th:href="preferencesForm">
                <i class="bi bi-card-list"></i>
                <span>Preferences Form</span>
            </a>
        </li>

        <li class="nav-item" th:if="${user.accountType=='2'}">
            <a class="nav-link" th:href="roster">
                <i class="bi bi-file-earmark"></i>
                <span>Weekly Roster</span>
            </a>
        </li>


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">



  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weeky Roster</h5>




           <ul th:each="roster : ${rosters}" style="list-style-type:none" >


             <h5 th:text="${roster.slot}"></h5>
             <br/>
             <table th:if="${roster.bookings}!=null"  class="table table-bordered" >
               <thead>
               <tr>

                 <th scope="col">Name</th>
                 <th scope="col">Email</th>
                   <th scope="col">View Details</th>

               </tr>
               </thead>
               <tbody>
              <tr th:each="r : ${roster.bookings}">
               <td th:text="${r.name}"></td>
                <td th:text="${r.email}"></td>
<!--                  <td th:text="${r.certificate}"></td>-->
<!--                  <td>  <img alt="sample" th:src="*{'data:image/png;base64,'+r.certificate.image}" /></td>-->

                  <!-- Button trigger modal -->

                  <td>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Click Here
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                  <div class="row">
                                      <div class="col-lg-3 col-md-4 label ">Name</div>
                                      <div class="col-lg-9 col-md-8" name="name" th:text="${r.name}">---</div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Email</div>
                                      <div class="col-lg-9 col-md-8" th:text="${r.email}">---</div>
                                  </div>


<!--                                  <div  th:if="${user.accountType=='1'}">-->
<!--                                      <div class="row">-->
<!--                                          <div class="col-lg-3 col-md-4 label">Roll No.</div>-->
<!--                                          <div class="col-lg-9 col-md-8" th:text="${user.roll}">-&#45;&#45;</div>-->
<!--                                      </div>-->

<!--                                      <div class="row">-->
<!--                                          <div class="col-lg-3 col-md-4 label">Branch</div>-->
<!--                                          <div class="col-lg-9 col-md-8"th:text="${user.branch}">-&#45;&#45;</div>-->
<!--                                      </div>-->
<!--                                  </div>-->

<!--                                  <div id="faculty" th:if="${user.accountType=='2'}">-->
<!--                                      <div class="row">-->
<!--                                          <div class="col-lg-3 col-md-4 label">Position/Title</div>-->
<!--                                          <div class="col-lg-9 col-md-8"th:text="${user.position}">-&#45;&#45;</div>-->
<!--                                      </div>-->

<!--                                      <div class="row">-->
<!--                                          <div class="col-lg-3 col-md-4 label">Department</div>-->
<!--                                          <div class="col-lg-9 col-md-8"th:text="${user.department}">-&#45;&#45;</div>-->
<!--                                      </div>-->
<!--                                  </div>-->

<!--                                  <div class="row">-->
<!--                                      <div class="col-lg-3 col-md-4 label">Address</div>-->
<!--                                      <div class="col-lg-9 col-md-8" th:text="${user.address}">-&#45;&#45;</div>-->
<!--                                  </div>-->
<!--                                  <div class="row">-->
<!--                                      <div class="col-lg-3 col-md-4 label">City</div>-->
<!--                                      <div class="col-lg-9 col-md-8" th:text="${user.city}">-&#45;&#45;</div>-->
<!--                                  </div>-->
<!--                                  <div class="row">-->
<!--                                      <div class="col-lg-3 col-md-4 label">State</div>-->
<!--                                      <div class="col-lg-9 col-md-8" th:text="${user.state}">-&#45;&#45;</div>-->
<!--                                  </div><div class="row">-->
<!--                                  <div class="col-lg-3 col-md-4 label">Zip Code</div>-->
<!--                                  <div class="col-lg-9 col-md-8" th:text="${user.zip}">-&#45;&#45;</div>-->
<!--                              </div>-->

<!--                                  <div class="row">-->
<!--                                      <div class="col-lg-3 col-md-4 label">Phone</div>-->
<!--                                      <div class="col-lg-9 col-md-8" th:text="${user.phone}">-&#45;&#45;</div>-->
<!--                                  </div>-->


<!--                                  <div class="row">-->
<!--                                      <div class="col-lg-3 col-md-4 label">Vaccination Certificate</div>-->
<!--                                      <div class="col-lg-9 col-md-8" th:text="${r.certificate}">-&#45;&#45;</div>-->
<!--                                      <a th:href="@{'http://localhost:8080/file/download/'+${r.certificate}}" target="_self">Download File</a>-->
<!--                                  </div>-->


                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--                                  <button type="button" class="btn btn-primary">Save changes</button>-->
                              </div>
                          </div>
                      </div>
                  </div>
                  </td>



              </tr>
             </table>

             <p th:if="${roster.bookings}==null" >No Registrations</p>

             <br/>
             <br/>
           </ul>

         </li>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<div th:replace="footer.html"></div>
</body>

</html>