<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="head.html"></div>

</head>

<body>


<div th:replace="header.html"></div>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="dashboard">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Dashboard Nav -->


        <li class="nav-item" th:if="${user.accountType=='1'}">
            <a class="nav-link collapsed" th:href="preferencesForm">
                <i class="bi bi-card-list"></i>
                <span>Preferences Form</span>
            </a>
        </li>

        <li class="nav-item" th:if="${user.accountType=='2'}">
            <a class="nav-link" th:href="roster">
                <i class="bi bi-file-earmark"></i>
                <span>Weekly Roster</span>
            </a>
        </li>


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">



  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weeky Roster</h5>




           <ul th:each="roster : ${rosters}" style="list-style-type:none" >


             <h5 th:text="${roster.slot}"></h5>
             <br/>
             <table th:if="${roster.bookings}!=null"  class="table table-bordered" >
               <thead>
               <tr>

                 <th scope="col">Name</th>
                 <th scope="col">Email</th>

               </tr>
               </thead>
               <tbody>
              <tr th:each="r : ${roster.bookings}">
               <td th:text="${r.name}"></td>
                <td th:text="${r.email}"></td>
<!--                  <td>  <img alt="sample" th:src="*{'data:image/png;base64,'+r.certificate.image}" /></td>-->

              </tr>
             </table>

             <p th:if="${roster.bookings}==null" >No Registrations</p>

             <br/>
             <br/>
           </ul>

         </li>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<div th:replace="footer.html"></div>
</body>

</html>