<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="head.html"></div>

</head>

<body>


<div th:replace="header.html"></div>

<div th:replace="sidebar.html"></div>

<main id="main" class="main">



  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weeky Roster</h5>




           <ul th:each="roster : ${rosters}" style="list-style-type:none" >


             <li th:text="${roster.slot}"></li>
             <br/>
             <table th:if="${roster.bookings}!=null"  class="table" >
               <thead>
               <tr>

                 <th scope="col">Name</th>
                 <th scope="col">Email</th>

               </tr>
               </thead>
               <tbody>
              <tr th:each="r : ${roster.bookings}">
               <td th:text="${r.name}"></td>
                <td th:text="${r.email}"></td>

              </tr>
             </table>

             <p th:if="${roster.bookings}==null" >No entries</p>

             <br/>
             <br/>
           </ul>

         </li>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<div th:replace="footer.html"></div>
</body>

</html>